.e-container {
    background-color: #0b0c10;
    height:100vh;
}
.head {
    font-family: 'Raleway', sans-serif;
    color:#66fcf1;
}
/* Scrollbar */
/* width */
.card-popup::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.card-popup::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
}

/* Handle */
.card-popup::-webkit-scrollbar-thumb {
    background: #696969; 
    border-radius: 2px;
}

/* Handle on hover */
.card-popup::-webkit-scrollbar-thumb:hover {
    background: #696969; 
}
/* Scrollbar */

@keyframes appear {
    from{transform: scale(0);}
    to{transform: scale(1);}
}

/* media queries */
@media only screen and (max-width:1024px) {
    .card-popup {
        top:15rem;
        left:16.5rem;
    }
}
@media only screen and (max-width:768px) {
    .card-popup {
        top:15rem;
        left:9rem;
    }
}
@media only screen and (max-width:455px) {
    .card-popup {
        top:13rem;
        left:4.5rem;
        width:20rem;
        height:22rem;
    }
}
@media only screen and (max-width:430px) {
    .card-popup {
        top:12rem;
        left:3.5rem;
        width:20rem;
        height:22rem;
    }
}
@media only screen and (max-width:375px) {
    .card-popup {
        top:12rem;
        left:1.8rem;
        width:20rem;
        height:22rem;
    }
}
@media only screen and (max-width:320px) {
    .card-popup {
        top:12rem;
        left:1rem;
        width:18rem;
        height:23rem;
    }
}
/* media queries */

/* popup */

/* Popup */
.popup-background {
    position:sticky;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100vh;
    background-color:rgba(0,0,0,0.5);
    z-index:500 !important;
}
.contain-popup {
    background-color: #1f2833;
    position:fixed;
    top:12rem;
    left:40rem;
    width:15rem;
    height:15rem;
    padding:1.5rem 1rem 1rem 1rem;
    border-radius:0px;
    border:1px solid #66fcf1;
    animation: appear .5s 1;
}
.popup-head {
    font-family: 'Raleway', sans-serif;
    color:#66fcf1;
}
.roomid {
    font-family: 'Montserrat', sans-serif;
    color:#c5c6c7;
}
.ok {
    font-family: 'Montserrat', sans-serif;
    background-color:transparent;
    border:1px solid #66fcf1;
    color:#c5c6c7;
    border-radius:0;
    padding:.2rem 3rem;
}
.ok:hover {
    color:#1f2833;
    background-color: #66fcf1;
    transition:0.3s all ease-in-out;
}
.startbtn {
    font-family: 'Montserrat', sans-serif;
    background-color:#66fcf1;
    border:0;
    color:#1f2833;
    border-radius:0;
    padding:.2rem 3rem;
    margin-right:1rem;
}
.roombtn {
    font-family: 'Montserrat', sans-serif;
    background-color:#45a29e;
    border:0;
    color:#1f2833;
    border-radius:0;
    padding:.2rem 2rem;
    margin-left:1rem;
}
.roominput {
    border:1px solid #66fcf1;
    background-color:transparent;
    color:#c5c6c7;
    border-radius:0;
}
@keyframes appear {
    from{transform:scale(0);}
    to{transform:scale(1);};
}
/* Popup */

/* controls */
.controls {
    /* background-color:rgb(197, 198, 199,.2); */
}
.btn:focus {
    outline:none;
}
/* controls */