<section class="e-container">
  <div class="container">
    <div class="mx-auto text-center">
      <h2 class="head">JoinChat</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>
            <video #videoElement autoplay playsinline style="height: 270px;"></video>
            <video #rvideoElement autoplay playsinline style="height: 270px;"></video>
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="controls mx-auto text-center">
        <button (click)="start()" class="btn startbtn">Start Video</button>
        <!-- <button (click)="toggleControls()" class="btn btn-success">Toggle Controls</button> -->
        <!-- <button (click)="pause()" class="btn btn-warning">Pause</button> -->
        <!-- <button (click)="resume()" class="btn btn-info">Resume</button> -->
        <!-- <button (click)="sound()" class="btn btn-danger">Play with Sound</button> -->
        <!-- <button (click)="creat()" class="btn btn-danger">send offer</button> -->
        <button (click)="creatroom()" class="btn roombtn">Create Room ID</button>
        <!-- <button (click)="server()" class="btn btn-danger">add coller to server</button> -->
        <!-- <button (click)="check()" class="btn btn-danger">checkemit</button> -->
        <!-- <button (click)="listen()" class="btn btn-danger">listen</button> -->
      
        <form (ngSubmit)="joinroom(f)" #f="ngForm">
          <div class="form-group">
            <label style="color:#fff;" for="exampleInputPassword1">Room ID</label>
            <div class="contain-intput">
              <input type="text" name="id" class="form-control roominput" ngModel required placeholder="e.g. : 5669">
            </div>
          </div>
          <button type="submit" class="btn btn-primary ok">Join Room</button>
        </form>
      </div>
    </div>
  </div>

  <!-- popup -->
  <!-- <div class="contain-popup">
    <div class="card-popup sec_text">
      <h2 class="text-center popup-head">Room ID</h2>
      <hr style="border:.5px solid #FCCB67;margin:1rem 2rem;">
      <p class="text-center mt-3">
        {{ roomId }}
      </p>
    </div>
  </div> -->
  <!-- popup -->

  <!-- error -->
  <div *ngIf=rid class="popup-background">
    <div class="contain-popup">
      <h2 class="text-center popup-head">Room ID</h2>
      <hr style="border:.5px solid #45a29e;margin:1rem 2rem;">
      <h3 class="text-center roomid mt-4">{{ roomId }}</h3>
      <div class="text-center">
        <button class="btn btn-primary ok mt-4" (click)=closeid()>OK</button>
      </div>
    </div>
  </div>
  <!-- error -->
</section>